<div class="wrapper">
  <div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
            <div class=" card-header card-header-dark"><p>Bluetooth Sensor.</p></div>
            <div class=" card-body">
              <form>
                <div class=" row">
                  <div class=" col-md-4 pr-md-1">
                    <div class=" form-group">
                      <label> BLE Id </label>
                      <input
                        class=" form-control"
                        placeholder="key-in BLE Id"
                        type="text"
                        value=""
                      />
                    </div>
                  </div>
                  <div class=" col-md-4 px-md-1">
                    <div class=" form-group">
                      <label> UUID </label>
                      <input
                        class=" form-control"
                        placeholder="key-in uuid"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-4 pl-md-1">
                    <div class=" form-group">
                      <label> BLE Name </label>
                      <input
                        class=" form-control"
                        placeholder="key-in BLE name"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label> Major </label>
                      <input
                        class=" form-control"
                        placeholder="key-in major value"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-3 pl-md-1">
                    <div class=" form-group">
                      <label> Minor </label>
                      <input
                        class=" form-control"
                        placeholder="key-in minor value"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-3">  
                    <div class=" form-group">
                      <label> Store </label>
                      <select formControlName="store" class="form-control">
                        <option>Select Store</option>
                        <option>Store 1</option>
                        <option>Store 2</option>
                    </select>
                    </div>
                  </div>
                  <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label> Product </label>
                      <select formControlName="product" class="form-control">
                        <option>Select Product</option>
                        <option>Product 1</option>
                        <option>Product 2</option>
                    </select>
                    </div>
                  </div>
                </div>
               
                <div class=" row">
                  <div class=" col-md-4 pr-md-1">
                    <div class=" form-group">
                      <label> Battery Model </label>
                      <input
                        class=" form-control"
                        placeholder="key-in battery model"
                        type="text"
                        value=""
                      />
                    </div>
                  </div>
                  <div class=" col-md-4 px-md-1">
                    <div class=" form-group">
                      <label> Battery Capacity </label>
                      <input
                        class=" form-control"
                        placeholder="key-in battery capacity"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-4 pl-md-1">
                    <div class=" form-group">
                      <label> Battery Life </label>
                      <input
                        class=" form-control"
                        placeholder="key-in battery life"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <div class=" col-md-4 pr-md-1">
                    <div class=" form-group">
                      <label> Battery Replacable </label>
                      <input
                        class=" form-control"
                        placeholder="key-in battery replacable"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-4 px-md-1">
                    <div class=" form-group">
                      <label> Waterproof </label>
                      <input
                        class=" form-control"
                        placeholder="key-in waterproof"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-4 pl-md-1">
                    <div class=" form-group">
                      <label> Connection Mode </label>
                      <input
                        class=" form-control"
                        placeholder="key-in connection mode"
                        type="text"
                      />
                    </div>
                  </div>
                </div>           
              </form>
            </div>
            <div class=" card-footer">
              <div class="col-lg-3 float-right">
                <button class=" btn btn-fill btncleartype" type="submit">Clear</button>
                &nbsp;
                <button class=" btn btn-fill btnsavetype" type="submit">Save</button>
              </div>
            </div>
          </div>
        </div>        
      </div>
  </div>  
  </div>