    <div class="sidemenu scrolling">
        <div class="flexContainer" fxAlign="column">
            <div class="row menuitem">
                <p class="menuheading">MENU</p>
            </div>
            <div class="row menuitem">
                <div class="flexContainer" fxAlign="row">                    
                    <a class="hyperlink" routerLink="home" routerLinkActive="active">
                        <fa-icon [icon]="faChartPie"></fa-icon> Dashboard</a>
                </div>
            </div>
            <div class="row menuitem">
                <div class="flexContainer" fxAlign="row">
                    <!-- <img class="menuicon" src="" /> -->
                    <a class="hyperlink" routerLink="radiofrequency" routerLinkActive="active">
                        <fa-icon [icon]="faChartPie"></fa-icon> RFID</a>
                </div>
            </div>
            <div class="row menuitem">
                <div class="flexContainer" fxAlign="row">
                    <a class="hyperlink" routerLink="bluetooth" routerLinkActive="active">
                        <fa-icon [icon]="faChartPie"></fa-icon> Bluetooth</a>
                </div>
            </div>
            <div class="row menuitem">
                <div class="flexContainer" fxAlign="row">
                    <a class="hyperlink" routerLink="sonic" routerLinkActive="active">
                        <fa-icon [icon]="faChartPie"></fa-icon> Sonic</a>
                </div>
            </div>
            <div class="row menuitem">
                <div class="flexContainer" fxAlign="row">
                    <a class="hyperlink" routerLink="touch" routerLinkActive="active">
                        <fa-icon [icon]="faChartPie"></fa-icon> Touch</a>
                </div>
            </div>
            <div class="row menuitem">
                <div class="flexContainer" fxAlign="row">
                    <a class="hyperlink" routerLink="weight" routerLinkActive="active">
                        <fa-icon [icon]="faChartPie"></fa-icon> Weight</a>
                </div>
            </div>
        </div>
    </div>