<div class="wrapper">
  <div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header card-header-dark"><p>Weight Sensor.</p></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-5 pr-md-1">
                  <div class=" form-group">
                    <label> Weight Sensor Id </label>
                    <input
                      class=" form-control"
                      placeholder="key-in weight sensor id"
                      type="text"
                    />
                  </div>
                </div>
                <div class=" col-md-3 px-md-1">
                  <div class=" form-group">
                    <label> Weight Sensor Name </label>
                    <input
                      class=" form-control"
                      placeholder="key-in weight sensor name"
                      type="text"
                    />
                  </div>
                </div>
                <div class=" col-md-4 pl-md-1">
                  <div class=" form-group">
                    <label> Store </label>
                    <select formControlName="store" class="form-control">
                      <option>Select Store</option>
                      <option>Store 1</option>
                      <option>Store 2</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class=" card-footer">
            <div class="col-lg-3 float-right">
              <button class=" btn btn-fill btncleartype" type="submit">Clear</button>
              &nbsp;
              <button class=" btn btn-fill btnsavetype" type="submit">Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>  
</div>