<div class="loginwrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="custom-form">
      <mat-card-content>
        <mat-form-field class="custom-full-width">
          <input matInput placeholder="Username" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="custom-full-width">
          <input matInput placeholder="Password" type="password" autocomplete="off">
        </mat-form-field>
      </mat-card-content>
      <button mat-flat-button color="primary" routerLinkActive="active" class="btn-block btn-success" (click)=onclick()>Log in</button>
    </form>
  </mat-card>

</div>